<!-- _includes/social.html -->
<div class="social-links">
    {% if site.social.linkedin %}
      <div>
        <a href="{{ site.social.linkedin }}" target="https://www.linkedin.com/in/wasantha94/">
          <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" style="width:32px;height:32px;">
        </a>
      </div>
    {% endif %}
    {% if site.social.youtube %}
      <div>
        <a href="{{ site.social.youtube }}" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="YouTube" style="width:32px;height:32px;">
        </a>
      </div>
    {% endif %}
    <!-- Add more social media buttons as needed -->
  </div>
  
  